In [2]:
# para leer directorios de nuestro explorador de archivos importaremos la librer√≠a os

In [2]:
import os

In [3]:
books_dir="./books"

In [4]:
os.listdir(books_dir)

['.ipynb_checkpoints', 'English.txt', 'Portuguese.txt', 'Spanish.txt']

In [6]:
#ejemplo con pandas
import pandas as pd

In [7]:
table=pd.DataFrame(columns=("name","age"))

In [16]:
table.loc[0]=("Luis Fernando",15)
table.loc[1]=("Arsel Rolando",15)

In [29]:
table

            name age
1  Arsel Rolando  15
2  Arsel Rolando  15
0  Luis Fernando  15

In [30]:
table["name"]

1    Arsel Rolando
2    Arsel Rolando
0    Luis Fernando
Name: name, dtype: object

In [31]:
table.name

1    Arsel Rolando
2    Arsel Rolando
0    Luis Fernando
Name: name, dtype: object

In [32]:
table - > name

SyntaxError: invalid syntax (<ipython-input-32-59a8892b2379>, line 1)

In [37]:
table.age

1    15
2    15
0    15
Name: age, dtype: object